<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap" rel="stylesheet">
    <title>Lista de contactos</title>
</head>

<body>

    <header><h1>DJANGO LISTA DE CONTACTOS</h1></header>

    <main class="integrantes">
       <div>diego</div>
       <div>Andrés</div>
       <div>Lev</div>
       <div>Jocelyn</div>
    </main>
    <main class="contenido">
        <article> {%block crearUs %} <div class="btn-accion"><a href="{% url 'crear_persona' %}">crear nuevo
                    contacto</a></div>
            {%endblock crearUs %}</article>
        <article>{%block cuerpo %}
            <table>
                <tr>
                    <th class="ultima-columna-nombre">nombre</th>
                    <th>apellido</th>
                    <th>teléfono</th>
                    <th>correo</th>
                    <th class="ultima-columna" colspan="2">ACCIÓN</th>
                </tr>

                {% for persona in personas%}
                <tr>
                    <td class="ultima-columna-nombre">{{persona.nombres}}</td>
                    <td>{{persona.apellidos}}</td>
                    <td>{{persona.telefono}}</td>
                    <td>{{persona.correo}}</td>
                    <td>
                        <div class="btn-accion"><a href="{% url 'editar_persona' persona.id %}">editar</a></div>
                    </td>
                    <td class="ultima-columna">
                        <div class="btn-eliminar"><a href="{% url 'eliminar' persona.id %}">eliminar</a></div>
                    </td>
                </tr>
                {% endfor %}

            </table>
            {%endblock cuerpo %}</article>
    </main>
    <footer>Pié de página</footer>
</body>

</html>